.stock-level .oj-table {
  display: block;
  max-height: 550px;
  overflow: scroll;
}

.oj-table-column-header {
  height: 100%;
}

.stock-level td {
  padding: 5px;
}

.stock-level-cell {
  background-color: white;
}

.stock-level-header {
  background-color: #f1f3f8;
}

.stock-level-error {
  background-color: tomato;
}

.stock-level table,
.stock-level input {
  width: 95%
}
.stock-level input {
  margin-top: 10px;
}

.stock-level tr {
  cursor: pointer;
  color: #333;
}

#customers .stock-level .oj-selected {
  background: #00C0EF;
  color: #FFFFFF;
  opacity: 0.8;
}

#contacts .stock-level .oj-selected {
  background: #9A53B0;
  color: #FFFFFF;
  opacity: 0.8;
}

#leads .stock-level .oj-selected {
  background: #F39C12;
  color: #FFFFFF;
  opacity: 0.8;
}
#activities .stock-level .oj-selected {
  background: #00A65A;
  color: #FFFFFF;
  opacity: 0.8;
}


#customers .stock-level .oj-table-body-row.oj-hover {
  background: #00C0EF;
  color: #FFFFFF;
  opacity: 0.5;
}

#contacts .stock-level .oj-table-body-row.oj-hover {
  background: #9A53B0;
  color: #FFFFFF;
  opacity: 0.5;
}

#activities .stock-level .oj-table-body-row.oj-hover {
  background: #00A65A;
  color: #FFFFFF;
  opacity: 0.5;
}

#leads .stock-level .oj-table-body-row.oj-hover {
  background: #F39C12;
  color: #FFFFFF;
  opacity: 0.5;
}
