.overview-card {
    padding: 0px;
    font-family: 'Source Sans Pro',sans-serif;
    color: white;
    cursor: pointer;
}

.overview-card-count, .overview-card-icon {
    padding-left: 10px;    
    padding-right: 10px;    
}

.overview-card h3 {
    font-size: 28px;
    font-weight: 700;
    box-sizing: border-box;
    color: inherit;
}

.overview-card .small-box-footer {
    display: block;
    padding: 3px 0px 3px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

overview-card {
    margin: 10px;
}