<div class="oj-hybrid-padding">
  <div class="oj-hybrid-padding">

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item">
        <div style="width:600px;height:600px;overflow:scroll" id="appHolder">


          <!-- BASIC HTML INPUT COMPONENT -->
          <!-- <input type="password" placeholder="" /> -->





          <!-- BASIC COMPONENT IMPLEMENTATION -->
          <!-- <overview-card name="name" maincolor="#c1c1c1" highlight="#B3CD62" observables="{{cachedNumber}}" clicked="{{handleRowClick}}" icon="home-icon-24"></overview-card> -->






          <!-- WITH JQUERY INJECTION PATTERN -->
          <!-- <table id="myTarget"></table> -->






          <!-- WITH JS TEMPLATE PATTERN (ko) -->
          <!-- <table>
            <thead>
              <tr>
                <td>Item No</td>
                <td>Description</td>
              </tr>
            </thead>
            <tbody data-bind="foreach: itemsArray">
              <tr>
                <td data-bind="text: LITM"></td>
                <td data-bind="text: DSC1"></td>


              </tr>
            </tbody>
          </table> -->

  <!-- WITH WEB CCA COMPONENT -->
  <!-- <filter-table tableid="items" filter="" data={{itemData}} onrowclick="{{handleRowClick}}"></filter-table> -->
  <filter-table tableid="items" filter="" data={{itemData}} onrowclick="{{handleRowClick}}"></filter-table>



  <!-- <smart-shop ></smart-shop> -->
        </div>

      </div>
      <customer-locations tableid="items" filter="" data={{itemData2}} onrowclick="{{handleRowClick}}"></customer-locations>

    </div>
  </div>
</div>
