.customer-locations .oj-table {
  display: block;
  max-height: 550px;
  overflow: scroll;
}

.oj-table-column-header {
  height: 100%;
}

.customer-locations td {
  padding: 5px;
}

.customer-locations-cell {
  background-color: white;
}

.customer-locations-header {
  background-color: #f1f3f8;
}

.customer-locations-error {
  background-color: tomato;
}

.customer-locations table,
.customer-locations input {
  width: 95%
}
.customer-locations input {
  margin-top: 10px;
}

.customer-locations tr {
  cursor: pointer;
  color: #333;
}

#customers .customer-locations .oj-selected {
  background: #00C0EF;
  color: #FFFFFF;
  opacity: 0.8;
}

#contacts .customer-locations .oj-selected {
  background: #9A53B0;
  color: #FFFFFF;
  opacity: 0.8;
}

#leads .customer-locations .oj-selected {
  background: #F39C12;
  color: #FFFFFF;
  opacity: 0.8;
}
#activities .customer-locations .oj-selected {
  background: #00A65A;
  color: #FFFFFF;
  opacity: 0.8;
}


#customers .customer-locations .oj-table-body-row.oj-hover {
  background: #00C0EF;
  color: #FFFFFF;
  opacity: 0.5;
}

#contacts .customer-locations .oj-table-body-row.oj-hover {
  background: #9A53B0;
  color: #FFFFFF;
  opacity: 0.5;
}

#activities .customer-locations .oj-table-body-row.oj-hover {
  background: #00A65A;
  color: #FFFFFF;
  opacity: 0.5;
}

#leads .customer-locations .oj-table-body-row.oj-hover {
  background: #F39C12;
  color: #FFFFFF;
  opacity: 0.5;
}
